html {
  scroll-behavior: smooth;
}

body {
  font-family: 'monospace';
  font-weight: 400;
  line-height: 1.2;
  font-size: 1.10rem;
  letter-spacing: 0.20px;
  word-wrap: break-word;

  max-width: 100ch;
  padding: 0 1em;
  margin: auto;

  background-color: #181A1B;
  color: #E8E6E3;
}

h1, h2, h3 {
  font-family: 'sans-serif';
  font-size: 150%;
  font-weight: 600;
  letter-spacing: .07em;
  margin-top: 1.5em;
  margin-bottom: .35em;
}

i, code {
  font-family: monospace;
  background-color: #2c2d32;
  padding: .2em .4em;
  border-radius: 6px;
}

code {
  margin-top: 15px;
  padding: 3px 3px;
  display: block;
}

p > code, li > code {
  padding: 4px 4px 2px 4px;
  display: inline;
}

pre > code {
  padding: 12px 8px 8px 8px;
  border: 2px solid #383a3f;
  border-radius: 2px;
  white-space: pre-wrap;
}

a {
  font-family: monospace;
  text-decoration: none;
  color: #55A4FF;
}

b {
  font-family: monospace;
  font-weight: 700;
}

img {
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

::selection {color: #c4c4c4; background: #50525b;}
